@model Business_Layer__BL_.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}

@*@Html.DisplayNameFor(model => model.name)
@Html.DisplayFor(model => model.name)
@Html.DisplayNameFor(model => model.description)
@Html.DisplayFor(model => model.description)
@Html.DisplayNameFor(model => model.price)
@Html.DisplayFor(model => model.price)
@Html.DisplayNameFor(model => model.discount)
@Html.DisplayFor(model => model.discount)

@Html.DisplayNameFor(model => model.img)

@Html.DisplayFor(model => model.img)
@Html.ActionLink("Back to List", "Index")*@
<h4>ProductViewModel</h4>






