@model Business_Layer__BL_.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "CategoryDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category Details</h2>

<div>
    <h4>CategoryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "UpdateCategory", new { id = Model.Id }, new { @class = "btn btn-warning" })|
    @Html.ActionLink("Back to List", "Categories")
</p>
