@model Business_Layer__BL_.ViewModels.CategoryViewModel


@{
    ViewBag.Title = "Create Category";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        @Html.ActionLink("Dashboard", "Dashboard", "Admin")
    </li>
    <li class="breadcrumb-item">
        @Html.ActionLink("Categories", "Categories", "Admin")
    </li>
    <li class="breadcrumb-item active">Create</li>
</ol>


<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>

                <div class="input-group my-4">
                    @Html.LabelFor(std => std.img,new { @class= "input-group-text" })
                    @Html.TextBoxFor(std => std.img, new { type = "file" ,@class = "form-control" })
                    @Html.ValidationMessageFor(std => std.img, null, new { @class = "text-danger" })
                </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    @Html.ActionLink("Back to List", "Categories")
                </div>
            </div>
        </div>
    }
</div>

